/*
 * Main Stylesheet
 * Author: Bryce Flory
 * v 0.1
 */
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
}
.v-sp-sm {
	padding-top: 1em;
	padding-bottom: 1em;
}